*{
	margin:0;
	padding: 0;
}

section{
	text-align: center;
	margin:10px;
	padding: 5px;
}

section#content{
	margin: 0 auto;
	display: block;
	height: 500px;
	width: 500px;
	background-color: yellow;
	padding: 10px;
}
#content>h2{
	display: none;
}
.center{
	text-align: center;
}